Options +FollowSymLinks
RewriteEngine On

#Ruta donde debe dirigirse todo
RewriteBase /IULMAProject/rest/

#Regla que redirige a /rest/POST/postRequest.php
RewriteCond %{THE_REQUEST} ^POST
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^postHandler/(.*)$ POST/post_handler.php?prm=$1&%{QUERY_STRING} [R=307,L]

#Regla que redirige a rest/GET/login.php
RewriteCond %{THE_REQUEST} ^GET
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^login/(.*)$ GET/login.php?prm=$1&%{QUERY_STRING} [R=307,L]