Options +FollowSymLinks
RewriteEngine On

#Ruta donde debe dirigirse todo
RewriteBase /IULMAProject/rest/

#Regla que redirige a /rest/POST/postRequest.php
RewriteCond %{THE_REQUEST} ^POST
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^postHandler/(.*)$ POST/post_handler.php?prm=$1&%{QUERY_STRING} [R=307,L]

#Regla que redirige a rest/POST/login.php --> INICIAR SESIÓN
RewriteCond %{THE_REQUEST} ^POST
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^login/(.*)$ POST/login.php?prm=$1&%{QUERY_STRING} [R=307,L]

#Regla que redirige a rest/POST/register.php --> REGISTRAR USUARIO
RewriteCond %{THE_REQUEST} ^POST
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^register/(.*)$ POST/register.php?prm=$1&%{QUERY_STRING} [R=307,L]

#Regla que redirige a rest/GET/logout.php --> CERRAR SESIÓN
RewriteCond %{THE_REQUEST} ^GET
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^logout/(.*)$ GET/logout.php?prm=$1&%{QUERY_STRING} [R=307,L]

#Regla que redirige a rest/GET/get_handler.php --> CONSULTAS
RewriteCond %{THE_REQUEST} ^GET
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^column/(.*)$ GET/get_handler.php?prm=$1&%{QUERY_STRING} [R=307,L]

#Regla que redirige a rest/GET/admins.php --> COMPROBAR SI EXISTE EL ADMIN
RewriteCond %{THE_REQUEST} ^GET
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^admin/(.*)$ GET/admins.php?prm=$1&%{QUERY_STRING} [R=307,L]

#Regla que redirige a rest/GET/users.php --> CONSEGUIR TODOS LOS USUARIOS
RewriteCond %{THE_REQUEST} ^GET
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^users/(.*)$ GET/users.php?prm=$1&%{QUERY_STRING} [R=307,L]

#Regla que redirige a rest/GET/erasedata.php --> BORRAR DATOS DE USUARIO
RewriteCond %{THE_REQUEST} ^GET
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^delete/(.*)$ GET/eraseData.php?prm=$1&%{QUERY_STRING} [R=307,L]

#Regla que redirige a rest/GET/consultparameters.php --> CONSEGUIR DATOS PARA HACER BÚSQUEDAS
RewriteCond %{THE_REQUEST} ^GET
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^consultData/(.*)$ GET/consultparameters.php?prm=$1&%{QUERY_STRING} [R=307,L]